{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block page_content %}

<div class="col-xl-6 col-md-6 mt-4">
    <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <div class="media">
                <img class="rounded-circle mr-3" width="75" height="75" src="{{ user.profile.image.url }}">
                <div class="media-body">
                    <h2 class="mt-0">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Información de Usuario</legend>
                    {{ u_form|crispy }}
                    {{ p_form }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock%}