{% load crispy_forms_tags %}

<div class="modal-dialog modal-sm">
    <div class="modal-content">
        {% if obj %}
        <form id="formulario" method="post" action="{% url 'bases:codigopostal_edit' obj.pk %}">
        {% else %}
        <form id="formulario" method="post" action="{% url 'bases:codigopostal_new' %}">
        {% endif %}
            {% csrf_token %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% if obj %}Editar{% else %}Nuevo{% endif %} Código Postal
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                {% crispy form %}
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                <div class="col">
                                    <button id="enviar" type="submit" class="btn btn-danger"><span
                                            class="fa fa-save"></span> Guardar</button>
                                    <button class="btn btn-success" onclick="return cerrar_modal()"><span class="fa fa-undo"></span> Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </form>

    </div>

</div>

<script>
$('#formulario').submit(function(e) {
    e.preventDefault();
    var cod = $("#id_codigo").val().toUpperCase();
    if ({{obj.codigo}} == cod){
        e.currentTarget.submit();
        cerrar_modal();
    }else{
        var template="{% url 'bases:codigopostal_validar' 0 %}".replace('0', cod);
        var data={"id":cod};
        data = JSON.stringify(data);
        var token = '{{csrf_token}}';

        $.ajax({
        headers : {"X-CSRFToken": token},
        type: "POST",
        url: template,
        data: data,
        success: function(response){
            if (response == "EXISTE"){
                mensaje("Código Postal ya existe!","warning");
            }else{
                e.currentTarget.submit();
                cerrar_modal();
            }
        },
        error: function(jqXHR, textStatus, errorThrow){
            console.log(textStatus, errorThrow);
            mensaje(errorThrow,'warning');
            cerrar_modal();
        }
        });   
    }
  });
</script>