{% load crispy_forms_tags %}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" action="{% url 'bases:notificacion_edit' obj.pk %}">
        {% else %}
        <form method="POST" role="form" action="{% url 'bases:notificacion_new' %}">
        {% endif %}
            {% csrf_token %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">
                                {% if obj %}Editar{% else %}Nueva{% endif %} Notificacion
                            </div>
                            <div class="dropdown-divider"></div>
                                {% crispy form %}
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-success"><span
                                            class="far fa-paper-plane"></span> Enviar</button>
                                    <button class="btn btn-warning" onclick="return cerrar_modal()"><span class="fa fa-undo"></span> Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </form>

    </div>

</div>
